
* {background-color: rgb(83, 113, 41)}
body {
  text-align: center;
  margin: auto;
  width: 90%;
}

.column{
  float: left;
  width: 33.33%;
  text-align: left;
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}
